{
    "presets": ["module:metro-react-native-babel-preset"],
    "env": {
        "production": {
            "plugins": [
                "react-native-paper/babel",
                "babel-plugin-styled-components"
            ]
        }
    },
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "#navigation": "./src/navigation",
                    "#enums": "./src/enums",
                    "#modules": "./src/modules",
                    "#services": "./src/services",
                    "#components": "./src/components"
                },
                "extensions": [".tsx", ".ts"]
            }
        ],
        ["babel-plugin-styled-components"]
    ]
}
